@{
    ViewBag.Title = "About";
}
<h1>About This Website</h1>
<p>
    This website can be used to share links, videos, images or text.
</p>
<p>
    These posts can be rated, and the top rated posts will appear at the top of the homepage.
</p>
<p>
    Posts can be edited by anyone, but they can only be deleted by someone using the name of the post's author.
</p>
<p>
    Posts can be commented on, as well as the comments themself, which can created highly indented conversations.
</p>