@{
    ViewBag.Title = "Contact Me";
}
<h1>Contact Me</h1>

<address>
    <strong>Website:</strong>
    <a href="matthewkersley.co.uk">matthewkersley.co.uk</a>
    <br />
    <strong>Email:</strong>
    <a href="mailto:mwkersley@gmail.com">mwkersley@gmail.com</a>
</address>