@model Greennit.Models.ArticleAndComments

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete '@Model.Article.Title'?</h3>
<div>
    <div class="row text-center">
        @Html.Partial("_" + Model.Article.ContentType.ContentTypeString)
    </div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
